@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Neurman</h1>
    <p class="lead">Neurman puts you in the center of the first human-powered neural network.</p>
    <p><a href="/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is it?</h2>
        <p>
            Every time you log in, Neurman will provide new and interesting content for you.
            If you "downvote" a post, it disappears from your feed. If you upvote a post, it
            will be sent to [X] other users. Over time, Neurman will learn what kinds of things
             you like, connecting you to people that post more relevant content.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Column 2</h2>
        <p>Put more crap here.</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Column 3</h2>
        <p>Holy crap 3 columns! Impressive!</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>